<?xml version="1.0"?>
<!--
/**
 * VendorName_SysConfigTable
 *
 * @category    VendorName
 * @package     VendorName_SysConfigTable
 * @copyright   Copyright (c) 2017 Optaros
 * @author      Stefan Iurasog <stefan.iurasog@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="VendorName_SysConfigTable" setup_version="0.0.1" />
</config>